RewriteEngine On
RewriteBase /

RewriteRule ^/?files/([^/]+)?$ files.php?name=$1 [L,QSA,NC]

RewriteRule ^/?api/([^/]+)?$ api.php?method=$1 [L,QSA,NC]
RewriteRule ^/?api/([^/]+)/([^/]+)?$ api.php?method=$2&namespace=$1 [L,QSA,NC]

RewriteRule ^/?login?$ login.php [L,QSA,NC]
RewriteRule ^/?signup?$ signup.php [L,QSA,NC]
RewriteRule ^/?index?$ index.php [L,QSA,NC]
RewriteRule ^/?settings?$ settings.php [L,QSA,NC]
RewriteRule ^/?test?$ test.php [L,QSA,NC]
RewriteRule ^/?upload?$ upload.php [L,QSA,NC]
RewriteRule ^/?google?$ google.php [L,QSA,NC]
RewriteRule ^/?404?$ 404.php [L,QSA,NC]